<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Trans db</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <script src="static/index.js"></script>  
        <h1>Translation database</h1>
        <form id="query-form">
            <label>Title</label> <input type="text" id="title" name="title"><br>
            <label>Author</label> <input type="text" id="author" name="author"><br>
            <label>Title of the original</label> <input type="text" id="title_original" name="title_original"><br>
            <label>Translator</label> <input type="text" id="translator" name="translator"><br>
            <label>Publication year</label> <label>to</label> <input type="text" id="publication_year" name="publication_year"><br>
            <label>Source language</label> <input type="text" id="source_language" name="source_language"><br>
            <label>Source literature</label> <input type="text" id="source_literature" name="source_literature"><br>
            <label>Location of publication</label> <input type="text" id="publication_location" name="publication_location"><br>
            <label>Publisher</label> <input type="text" id="publisher" name="publisher"><br>
            <label>Serial data</label> <input type="text" id="series" name="series"><br>
            <label>Genre</label> <input type="text" id="genre" name="genre"><br>
            <label>Edition</label> <input type="text" id="edition" name="edition"><br>
            <label>Author of the reviewed translation book</label> <input type="text" id="fore_afterword_author" name="fore_afterword_author"><br>
            <label>Publication type</label> <input type="text" id="publication_type" name="publication_type"><br>
            <label>Target audience</label> <input type="text" id="target_audience" name="target_audience"><br>
        </form>
        <button onclick="sendForm()">Submit</button>
        <div id="response-data">
        </div>
    </body>
</html>
